extends layout

block content
  .content
    nav.navbar.navbar-dark.navbar-expand.bg-dark.navigation-clean
      .container
        a.navbar-brand(href='#') Wingsrom Flying Quality Parts - Tool List
    header.masthead.text-dark.text-center
      .overlay
      .container
        .row
          .col-xl-9.mx-auto
            h1.mb-5 Tool List
          .col-xl-9.mx-auto
            form#searchform(action="/")
              .form-group
                label.control-label.form-control-lg.text-right(for='type') Machine type: &nbsp; 
                .btn-group.btn-group-toggle(data-toggle='buttons')
                  label.btn.btn-primary.btn-lg.active
                    input#freze(type='radio' name='type' value="freze" checked='')
                    |  MILL
                  label.btn.btn-primary.btn-lg
                    input#strunguri(type='radio' name='type' value="strunguri")
                    |  LATHE
              br
              .form-group
                .col.row
                  .col-sm-8
                    input#searchinput.form-control.form-control-lg(type='text' minlength="3" placeholder='Part Number')
                  .col-sm-4
                    button#search.btn.btn-primary.btn-block.btn-lg(type='button') Search
    section.showcase
      .container
        .row.no-gutters.justify-content-md-center
          .col-lg-6.my-auto.order-lg-1.showcase-text#results
        #myModal.modal.fade.bd-example-modal-lg(role='dialog')
          .modal-dialog.modal-dialog-centered.modal-lg
            // Modal content
            .modal-content
              .modal-header
                h4.modal-title
                button.btn(type='button' aria-label='Left' tite="Rotate left" onClick="rotateImage('left'); ")
                  i.fa.fa-undo(aria-hidden="hidden")
                button.btn(type='button' aria-label='Right'  tite="Rotate right" onClick="rotateImage('right');")
                  i.fa.fa-rotate-right
                div.vline
                button.btn(type='button' aria-label='ZoomIn'  tite="Zoom In" onClick="zoom('in');")
                  i.fa.fa-search-plus
                button.btn(type='button' aria-label='ZoomOut'  tite="Zoom Out" onClick="zoom('out');")
                  i.fa.fa-search-minus
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden="true") &times;
              .modal-body.text-center.flex-container
                img#spinner(src="images/spinner.svg", alt="spinner")
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
      
  
