body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(233, 233, 233);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff !important;
  background-color: #cc0000 !important;
}

footer {
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rot90 {
  -webkit-transform: translateY(-100%) rotate(90deg); /* Safari */
  -moz-transform: translateY(-100%) rotate(90deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) rotate(90deg); /* IE9 */
  -o-transform: translateY(-100%) rotate(90deg); /* Opera */
  transform: translateY(-100%) rotate(90deg); /* W3C */  
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

.rot180 {
  -webkit-transform: translateY(-100%) translateX(100%) rotate(180deg); /* Safari */
  -moz-transform: translateY(-100%) translateX(100%) rotate(180deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateY(-100%) translateX(100%) rotate(180deg); /* IE9 */
  -o-transform: translateY(-100%) translateX(100%) rotate(180deg); /* Opera */
  transform: translateY(-100%) translateX(100%) rotate(180deg); /* W3C */  
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
}

.rot270 {
  -webkit-transform: translateX(-100%) rotate(-90deg); /* Safari */
  -moz-transform: translateX(-100%) rotate(-90deg); /* Firefox 3.6 Firefox 4 */
  /*-moz-transform-origin: right top; */
  -ms-transform: translateX(-100%) rotate(-90deg); /* IE9 */
  -o-transform: translateX(-100%) rotate(-90deg); /* Opera */
  transform: translateX(-100%) rotate(-90deg); /* W3C */  
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-lg {
  max-width: 90% !important;
}


.vline {
  border-left: 2px solid #00B7FF;
  height: 38px;
  padding-left: 5px;
  padding-right: 3px;

}