body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(233, 233, 233);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff !important;
  background-color: #cc0000 !important;
}

footer {
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-lg {
  max-width: 90% !important;
}
